/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4a90e2; /* Couleur bleue */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header-content h1,
.header-content h2 {
    margin: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Ajuster pour exclure le header */
    background-color: #f9f9f9; /* Couleur d'arrière-plan */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #d6d6d6;
    transform: scale(1.05);
}

button:active {
    background-color: #c0c0c0;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #4a90e2; /* Couleur bleue */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}